body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: url("img/wood.jpg");
    background-size: cover;
}

#canvas {
    background-image: url("img/forest.jpg");
    background-size: cover;
    width: 800px;
    height: 800px;
    transform: translateX(-50%);
    margin-left: 400px;
    margin-right: -400px    ;
    border: 2px solid black;
}

.vertex {
    width: 80px;
    height: 80px;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 11;
    background-image: url("img/mushroom1.png");
    background-size: cover;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    position: absolute;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    font-family: "Arial Black", serif;
}

.vertex:hover {
    box-shadow: 0 0 18px 2px rgb(210, 157, 157);
}
.chosenVertex {
    border: yellow;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edge {
    border:     rgba(0, 0, 0, 1);
    background-image: url("img/path.png");
    background-size: contain;
    height: 20px;
    position: absolute;
    display: block;
    transform-origin: center center;
    cursor: pointer;
    overflow: visible;
}

.edge:hover {
    background-image: url("img/path.png");
    background-size: contain;
    box-shadow: 0 0 12px 0 rgba(0, 176, 255, 0.7);
    z-index: 10;
}

.edge:hover .edgeWeight {
    background: #ffff5a;
}

.lightingVertex {
    box-shadow: 0 0 12px 3px rgba(255, 191, 0, 0.7);
    border: 1px solid #4b250d;
    background: #fc672c;
}

.buttons {
    width: 600px;
}

.buttons * {
    margin: 5px;
}

.buttons div div {
    width: fit-content;
}

.buttons input {
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
    background: white;
}

.buttons button {
    font-size: 22px;
    padding: 4px 10px;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.3s ease;
    font-family: Calibri, serif;
    cursor: pointer;
}
.buttons button:active {
    transition: none;
}

.edgeWeight {
    background: white;
    border: 1px solid black;
    position: absolute;
    color: black;
    font-family: Consolas, serif;
    padding: 2px;
    margin: 0;
    z-index: 3;
}

.numberInp {
    width: 125px;
}

.create button {
    background: #32ff57;
}
.create button:hover {
    background: #26cd41;
}
.create button:active {
    background: #166d26;
    transition: none;
}

.delete button {
    background: #ff3333;
    color: yellow;
}
.delete button:hover {
    background: #bf2424;
}
.delete button:active {
    background: #892222;
    transition: none;
}

.file {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.file div {
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 5%;

}

.file button {
    background: #2a83d0;
    width: 40%;
    color: white;
}

.file button:hover {
    background: #1e4999;
}
.file button:active {
    background: #0b3472;
    transition: none;
}

.task button {
    background: #fff301;
    color: black;
}
.task button:hover {
    background: #d4b90e;
}
.task button:active {
    background: #ac9607;
    transition: none;
}

#info {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-family: "Courier New", serif;
    color: white;
    background: black;
    padding: 8px;
    border-radius: 12px;
}

.display-none {
    display: none;
}

.buttons, .buttons * {
    background: rgba(255, 255, 255, 0.3);
}